@font-face {
  font-family: 'abeezee-regular';
  src: url('../fonts/abeezee-regular-webfont.woff') format('woff');
}
@font-face {
  font-family: 'acknowledgement';
  src: url('../fonts/acknowledgement.woff') format('woff');
}
@font-face {
  font-family: 'Alatsi-Regular';
  src: url('../fonts/alatsi-regular-webfont.woff') format('woff');
}
@font-face {
  font-family: 'alegreyasanssc-bold';
  src: url('../fonts/alegreyasans-medium-webfont.woff') format('woff');
}
@font-face {
  font-family: 'fortssh_-webfont';
  src: url('../fonts/fortssh_-webfont.woff') format('woff');
}
@font-face {
  font-family: 'leaguespartan-bold-webfont';
  src: url('../fonts/leaguespartan-bold-webfont.woff') format('woff');
}
@font-face {
  font-family: 'waltographui';
  src: url('../fonts/waltographUI.ttf') format('ttf');
}
