
#quote-bg {
  transition: all 0.6s;
  padding: 2rem;
  width: 400px;
  height: max-content;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position: center center;
  position: relative;
  .qt-overlay {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.459);
    position: absolute;
    top: 0;
    left: 0;
  }
}
.card {
  height: 100%;
  .card-content{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }
}
#output {
  .modal-content {
    gap: 2rem;
  }
}

#next-photo-btn {
  position: fixed;
  width: 100px;
  top: 46%;
  right: 12%;
}
aside{
  padding-left: 2rem;
  padding-top: 6rem;
}

